<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/reservations.css">
</head>

<body>
    <%- include('../includes/nav.ejs') %>
    <main>
        <h1>Pending Reservations</h1>
        <input type="hidden" id="_csrf" name="_csrf" value="<%= csrfToken %>">        
        <ul id="reservation-list" class="">            
            <% reservations.forEach(x => { %>
                <li class='list-item spaced-container'>
                    <div class="titles">
                        <h2><%= x.property.name %></h2>
                        <div><%= x.property.location %></div>
                    </div>
                    <div class="stack-box">
                        <div>Check-in: <%= new Date(x.startDate).toISOString().split('T')[0] %></div>                        
                        <div>Check-out: <%= new Date(x.endDate).toISOString().split('T')[0] %></div>                        
                    </div>
                    <div class="stack-box adjustable-box">
                        <div>Requested By: </div>
                        <div><%= `${x.user.firstName} ${x.user.lastName}` %></div>
                    </div>
                    <div class="stack-box adjustable-box">
                        <button id="app_<%= x.property._id %>/<%= x._id %>">Approve</button>
                        <button id="dec_<%= x.property._id %>/<%= x._id %>">Decline</button>
                    </div>                    
                </li>                
           <% }) %>   
        </ul>
        <% if(reservations.length === 0) { %>
            <p>You have no pending reservations</p>
       <% } %>
    </main>
    <script src="/scripts/fetch.js"></script>
    <script src="/scripts/manage-reservations.js"></script>
<%- include('../includes/end.ejs') %>