<div class="backdrop">
    <a href="/"><img class="header_image" src="/images/@theCabinLogo.bmp" alt="at the cabin logo"></a>
</div>
<header class="main-header">
    <nav class="main-header-nav">
        <ul class="main-header-item-list">
            <li class="main-header-item"><a class="<%= path === '/' ? 'active' : '' %>" href="/">Home</a></li>
            <% if (isAuthenticated) { %>
                <li class="main-header-item"><a class="<%= path === '/dashboard' ? 'active' : '' %>" href="/user/list">Dashboard</a></li>
                <li class="main-header-item"><a class="<%= path === '/reservation' ? 'active' : '' %>" href="/reservation">Reservation</a></li>
                <li class="main-header-item"><a class="<%= path === '/profile' ? 'active' : '' %>" href="/auth/profile">Account</a></li>
                <li class="main-header-item"><a class="<%= path === '/admin/properties' ? 'active' : '' %>" href="/admin/properties">Admin</a></li>
            <% } else { %>
                <li class="main-header-item"><a class="<%= path === '/login' ? 'active' : '' %>" href="/auth/Login">Login</a></li>
                <li class="main-header-item"><a class="<%= path === '/register' ? 'active' : '' %>" href="/auth/signup">Register</a></li>
            <% } %>
            <% if (isAuthenticated) { %>
                <li class="main-header-item">
                    <form action="../../../auth/logout" method="POST">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button class="logout-button" type="submit">Logout</button>
                    </form>
                </li>
            <% } %>
        </ul>  

        <!-- MOBILE NAV -->
        <ul class="main-header-list-mobile">
            <li class="dropdown">
                <a class="dropdown-toggle top-menu" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Menu
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li class="main-header-item mobile"><a class="<%= path === '/' ? 'active' : '' %>" href="/">Home</a></li>
                    <% if (isAuthenticated) { %>
                        <li class="main-header-item mobile"><a class="<%= path === '/dashboard' ? 'active' : '' %>" href="/user/list">Dashboard</a></li>
                        <li class="main-header-item mobile"><a class="<%= path === '/reservation' ? 'active' : '' %>" href="/reservation">Reservation</a></li>
                        <li class="main-header-item mobile"><a class="<%= path === '/profile' ? 'active' : '' %>" href="/auth/profile">Account</a></li>
                        <li class="main-header-item mobile"><a class="<%= path === '/admin/properties' ? 'active' : '' %>" href="/admin/properties">Admin</a></li>
                    <% } else { %>
                        <li class="main-header-item mobile"><a class="<%= path === '/login' ? 'active' : '' %>" href="/auth/Login">Login</a></li>
                        <li class="main-header-item mobile"><a class="<%= path === '/register' ? 'active' : '' %>" href="/auth/signup">Register</a></li>
                    <% } %>
                    <% if (isAuthenticated) { %>
                        <li class="main-header-item">
                            <form action="../../../auth/logout" method="POST">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <button class="logout-button" type="submit">Logout</button>
                            </form>
                        </li>
                    <% } %>
                </ul>
            </li>
        </ul> 
    </nav>
</header>