<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/user.css">
<link rel="stylesheet" href="/css/form.css">
</head>

<body>
    <%- include('../includes/nav.ejs') %>
    <main>
      <div class="inventory-form centered">
        <h2><%= name %></h2>
        <h4><%= location %></h4>
      </div>
      <% if(inventory) { %>
        <form class="inventory-form"action="/inventory/update-user" method="POST">
          <h4 class="centered">Update Inventory Amounts</h4>
          <div class="center-inventory">
            <label class="inventory-input-label">Item</label>
            <label class="inventory-amt-label">Amount</label>
          </div>
          <div class="inventory-control">
            <% for (let inv of inventory.list) { %>
              <div class="center-inventory">
                  <h5 class="inventory-input-label"><%= inv.description %></h5>
                  <input type="number" class="inventory-amt-add" name="amount" value="<%= inv.amount %>"> 
                  <input type="hidden" name="itemId" value="<%= inv._id %>">
              </div>
              <% } %>
              <button class="update-button" type="submit" name="update">Update All</button>
          </div>
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <input type="hidden" name="propertyId" value="<%= propertyId %>">
        </form>  
      <% } else { %>
        <div class="inventory-form centered">
          <h4>An inventory list has not been set up for this property.</h4>
        </div>
      <% } %>
      
    </main>
<%- include('../includes/end.ejs') %>