<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/reservations.css">
</head>

<body>
    <%- include('../includes/nav.ejs') %>
    <main>
        <h1>Reservation Status</h1>
        <input type="hidden" id="_csrf" name="_csrf" value="<%= csrfToken %>">        
        <ul id="reservation-list" class="">            
            <% reservations.forEach(x => { %>
                <li class='selectable-list-item spaced-container'>
                    <div class="titles">
                        <h2><%= x.property.name %></h2>
                        <div><%= x.property.location %></div>
                    </div>
                    <div class="stack-box">
                        <div>Check-in: <%= new Date(x.startDate).toISOString().split('T')[0] %></div>                        
                        <div>Check-out: <%= new Date(x.endDate).toISOString().split('T')[0] %></div>                        
                    </div>
                    <div class="stack-box adjustable-box">
                        <div>Status: </div>
                        <div><%= x.status %></div>
                    </div>
                    <div class="stack-box adjustable-box">
                        <div class="buttons">
                            <a class="buttons" href="/reservation/<%= x.property._id %>/<%= x._id %>">Edit</a>
                        </div>
                        <button class="buttons" id="<%= x._id %>">Delete</button>
                    </div>                    
                </li>                
           <% }) %>          
        </ul>
        <% if(reservations.length === 0) { %>
            <p>You have no upcoming reservations</p>
       <% } %>
    </main>
    <script src="/scripts/fetch.js"></script>
    <script src="/scripts/reservations.js"></script>
<%- include('../includes/end.ejs') %>